[user]
    name = Josh Ziegler
    email = josh.s.ziegler@gmail.com
[core]
    hooksPath = hooks/
[push]
#    default = simple  # Not sure this is a good policy
[pull]
    rebase = true
[credential]
    helper = cache
[credential "https://git.mindmodeling.org"]
    username = joshz
