[user]
    name = Josh Ziegler
    email = josh.s.ziegler@gmail.com
[core]
    hooksPath = hooks/
    editor = vim
    quotepath = false
[push]
    default = simple
[fetch]
    prune = true
[credential]
    helper = cache
[credential "https://git.mindmodeling.org"]
    username = joshz
[credential "https://github.com"]
    username = joshsziegler
[init]
	defaultBranch = main
